/* body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f8f9fa;
} */

body {
    background: url("../img/cp.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #e0e0e0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

h1, h2 {
    color: #343a40;
}

.card {
    margin-bottom: 20px;
}
